@use '../../../globals';

$card-size: 400px;

.admin {
  max-width: 100vw;

  .admin-container {
    padding: 32px;

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 8px;

      .stats-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 16px;

        .stats-item-label {
          font-size: 1.2em;
          margin-bottom: 8px;
        }

        .stats-item-value {
          font-size: 2em;
        }
      }
    }

    .db-usage {
      display: block;
      margin: 8px auto;
      max-width: 80vw;
    }

    .resources {
      margin: auto;
      margin-top: 20px;
      max-width: 600px;

      .resource {
      }
    }

    .reports {
      @include globals.flex-grid($card-size, 2.5rem);
      margin: 16px 0;
      padding: 16px;

      .report {
        display: flex;

        .report-card {
          overflow: hidden;
          width: 100%;
          @include globals.hover-zoom();

          .report-card-content {
            display: flex;
            flex-direction: column;

            .report-info {
              flex: 1;
              display: flex;
              flex-direction: column;

              .report-link {
                color: black;

                &:hover {
                  text-decoration: none;
                }

                .reported-book-title {
                  margin-bottom: 12px;
                  @include globals.line-cutoff(3);
                }

                .reported-by {
                  color: rgba(0, 0, 0, 0.625);
                  margin-bottom: 8px;
                }

                .report-reason {
                }
              }
            }

            .report-actions {
              flex: 0;
            }
          }
        }
      }
    }

    .feedback {
      @include globals.flex-grid($card-size, 2.5rem);
      margin: 16px 0;
      padding: 16px;

      .feedback-item {
        display: flex;

        .feedback-card {
          overflow: hidden;
          width: 100%;
          @include globals.hover-zoom();

          .feedback-card-content {
            display: flex;
            flex-direction: column;

            .feedback-info {
              flex: 1;
              display: flex;
              flex-direction: column;

              .feedback-by {
                color: rgba(0, 0, 0, 0.625);
                margin-bottom: 8px;
              }

              .feedback-feedback {
              }
            }

            .feedback-actions {
              flex: 0;
            }
          }
        }
      }
    }

    .users {
      margin: 16px auto;
    }

    .books {
      margin: 16px auto;
    }
  }
}
