<div class="credits">
  <mat-card class="credits-card">
    <mat-card-title class="text-center">Credits</mat-card-title>
    <mat-card-content>
      <p class="text-justified">
        NorseBooks was created by a number of Luther students, listed below:
      </p>
      <ul class="text-justified">
        <li>Will Allen, LC '21 (Architect, Project Lead, Developer)</li>
        <li>C M Nafi, LC '22 (Advisor, Marketing Strategist)</li>
        <li>Michael Shaten, LC '21 (Developer)</li>
        <li>August Halverson, LC '23 (Developer, Designer)</li>
      </ul>
      <p class="text-justified">
        Credit also goes to
        <a href="https://unsplash.com/" target="_blank" class="standard-link"
          >Unsplash</a
        >
        for the professional photos used as page backgrounds, to
        <a
          href="https://stackoverflow.com/"
          target="_blank"
          class="standard-link"
          >StackOverflow</a
        >
        for having all of the answers, and to Professor Roman Yasinovskyy for
        his inspiring teachings.
      </p>
    </mat-card-content>
  </mat-card>
</div>
