<div class="verify">
  <mat-card class="verify-card">
    <mat-card-title class="text-center">Account verification</mat-card-title>
    <mat-card-content>
      <div *ngIf="done; else loading">
        <div *ngIf="!verificationError; else verifyErrorMessage">
          <p class="text-justified">
            Success! Your account has been verified and activated.
          </p>
          <a mat-raised-button color="primary" routerLink="/login">Sign in</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #verifyErrorMessage>
  <p class="text-justified">
    An error occurred and we were unable to verify your account. This may have
    happened because your link expired or because you have already verified your
    account. Please try signing up again, bearing in mind you have one hour to
    verify your account.
  </p>
  <a mat-raised-button color="primary" routerLink="/register">Sign up</a>
</ng-template>

<ng-template #loading>
  <div class="center">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
