@use '../../../globals';

.verify {
  background-image: url('/assets/img/backgrounds/verify.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 48px;

  .verify-card {
    max-width: 500px;
    margin: auto;
  }
}
