<div class="about">
  <mat-card class="about-card">
    <mat-card-title class="text-center">About NorseBooks</mat-card-title>
    <mat-card-content>
      <p class="text-justified">
        The NorseBooks project seeks to provide Luther College students a place
        to buy and sell textbooks to each other.
      </p>
      <p class="text-justified">
        The selling process is simple enough. To sell a book, navigate to the
        <a routerLink="/book" class="standard-link">new book page</a> and fill
        out the form provided. You must list the name of the book and how much
        you want for it, among other things. Other students will be able to
        contact you via the in-app messaging system if they are interested in
        purchasing one of your books.
      </p>
      <p class="text-justified">
        To purchase a book, navigate to the
        <a routerLink="/" class="standard-link">home page</a> and search for the
        book you want. If you find a book you would like to purchase, you have
        the option to message the student who listed the book.
      </p>
      <p class="text-justified">
        If you would like to give us feedback about the site, please see the
        <a routerLink="/feedback" class="standard-link">feedback page</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
