.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-link {
    text-decoration: none;

    div {
      display: flex;
      align-items: center;

      .logo-img {
        margin-right: 8px;
      }

      .logo-text {
        color: white;
      }
    }
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
