<mat-toolbar color="primary" class="header">
  <a routerLink="/" class="logo-link">
    <div>
      <img
        class="logo-img"
        src="/assets/img/logo.png"
        alt="Home"
        width="30"
        height="30"
      />
      <span class="logo-text">NorseBooks</span>
    </div>
  </a>
  <div class="header-icons">
    <div *ngIf="loggedIn; else notLoggedIn">
      <a mat-icon-button routerLink="/logout" matTooltip="Log out">
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>

<ng-template #notLoggedIn>
  <a mat-icon-button routerLink="/login" matTooltip="Log in">
    <mat-icon>login</mat-icon>
  </a>
</ng-template>
