<mat-toolbar color="primary" class="header">
  <a routerLink="/" class="logo-link">
    <div>
      <img
        class="logo-img"
        src="/assets/img/logo.png"
        alt="Home"
        width="30"
        height="30"
      />
      <span class="logo-text">NorseBooks</span>
    </div>
  </a>
  <div class="header-icons">
    <a mat-icon-button routerLink="/about" matTooltip="Help" aria-label="Help">
      <mat-icon>help_outline</mat-icon>
    </a>
    <a
      *ngIf="admin && adminNotifications === 0"
      mat-icon-button
      routerLink="/admin"
      matTooltip="Admin control panel"
      aria-label="Admin control panel"
    >
      <mat-icon>admin_panel_settings</mat-icon>
    </a>
    <a
      *ngIf="admin && adminNotifications > 0"
      mat-icon-button
      routerLink="/admin"
      matTooltip="Admin control panel"
      aria-label="Admin control panel"
    >
      <mat-icon [matBadge]="adminNotifications" matBadgeColor="warn"
        >admin_panel_settings</mat-icon
      >
    </a>
    <a
      *ngIf="loggedIn"
      mat-icon-button
      routerLink="/book"
      matTooltip="New listing"
      aria-label="New listing"
    >
      <mat-icon>add</mat-icon>
    </a>
    <a
      *ngIf="loggedIn"
      mat-icon-button
      routerLink="/profile"
      matTooltip="Profile"
      aria-label="Profile"
    >
      <mat-icon>account_circle</mat-icon>
    </a>
    <a
      *ngIf="loggedIn && unreadMessages.length === 0"
      mat-icon-button
      routerLink="/message"
      matTooltip="Messages"
      aria-label="Messages"
    >
      <mat-icon>chat</mat-icon>
    </a>
    <a
      *ngIf="loggedIn && unreadMessages.length > 0"
      mat-icon-button
      routerLink="/message"
      matTooltip="Messages"
      aria-label="Messages"
    >
      <mat-icon [matBadge]="unreadMessages.length" matBadgeColor="warn"
        >chat</mat-icon
      >
    </a>
    <a
      *ngIf="loggedIn"
      mat-icon-button
      routerLink="/logout"
      [queryParams]="{ after: loginLogoutAfter }"
      matTooltip="Sign out"
      aria-label="Sign out"
    >
      <mat-icon>logout</mat-icon>
    </a>
    <a
      *ngIf="!loggedIn"
      mat-icon-button
      routerLink="/login"
      [queryParams]="{ after: loginLogoutAfter }"
      matTooltip="Sign in"
      aria-label="Sign in"
    >
      <mat-icon>login</mat-icon>
    </a>
  </div>
  <div class="header-icons-small">
    <button mat-icon-button [matMenuTriggerFor]="headerMenu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #headerMenu="matMenu">
      <a mat-menu-item routerLink="/about" aria-label="Help">
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </a>
      <a
        *ngIf="admin && adminNotifications === 0"
        mat-menu-item
        routerLink="/admin"
        aria-label="Admin control panel"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin control panel</span>
      </a>
      <a
        *ngIf="admin && adminNotifications > 0"
        mat-menu-item
        routerLink="/admin"
        aria-label="Admin control panel"
      >
        <mat-icon [matBadge]="adminNotifications" matBadgeColor="warn"
          >admin_panel_settings</mat-icon
        >
        <span>Admin control panel</span>
      </a>
      <a
        *ngIf="loggedIn"
        mat-menu-item
        routerLink="/book"
        aria-label="New listing"
      >
        <mat-icon>add</mat-icon>
        <span>New listing</span>
      </a>
      <a
        *ngIf="loggedIn"
        mat-menu-item
        routerLink="/profile"
        aria-label="Profile"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
      <a
        *ngIf="loggedIn && unreadMessages.length === 0"
        mat-menu-item
        routerLink="/message"
        aria-label="Messages"
      >
        <mat-icon>chat</mat-icon>
        <span>Messages</span>
      </a>
      <a
        *ngIf="loggedIn && unreadMessages.length > 0"
        mat-menu-item
        routerLink="/message"
        aria-label="Messages"
      >
        <mat-icon [matBadge]="unreadMessages.length" matBadgeColor="warn"
          >chat</mat-icon
        >
        <span>Messages</span>
      </a>
      <a
        *ngIf="loggedIn"
        mat-menu-item
        routerLink="/logout"
        [queryParams]="{ after: loginLogoutAfter }"
        aria-label="Sign out"
      >
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </a>
      <a
        *ngIf="!loggedIn"
        mat-menu-item
        routerLink="/login"
        [queryParams]="{ after: loginLogoutAfter }"
        aria-label="Sign in"
      >
        <mat-icon>login</mat-icon>
        <span>Sign in</span>
      </a>
    </mat-menu>
  </div>
</mat-toolbar>
