@use '../../../globals';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-link {
    text-decoration: none;

    div {
      display: flex;
      align-items: center;

      .logo-img {
        margin-right: 8px;
      }

      .logo-text {
        color: white;
        font-weight: 400;
      }
    }
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-icons-small {
    display: none;
  }

  @media (max-width: 576px) {
    .header-icons {
      display: none;
    }

    .header-icons-small {
      display: block;
    }
  }
}
