<div class="home">
  <div class="home-image">
    <div class="home-image-content">
      <h1 class="home-image-title">
        Welcome to <span class="home-image-app-name">NorseBooks</span>
      </h1>
      <p class="home-image-description">
        Get more money out of your old textbooks by selling them directly to
        other students.
      </p>
      <a mat-raised-button color="primary" routerLink="/book">Sell a book</a>
    </div>
  </div>
  <div *ngIf="done; else loading" class="home-content">
    <div *ngIf="loggedIn" class="recommendations">
      <h2>Recommended for you</h2>
      <div
        *ngIf="recommended.length > 0; else noRecommended"
        class="recommended-books"
      >
        <!-- <nb-book *ngFor="let book of recommended"></nb-book> -->
      </div>
    </div>
    <mat-divider *ngIf="loggedIn"></mat-divider>
    <div class="search">
      <h2>Search for books</h2>
      <div class="search-options">
        <form
          #searchBooksForm="ngForm"
          (ngSubmit)="onSearchBooks(searchBooksForm.value)"
        >
          <div class="form-row search-line-1">
            <div>
              <div>
                <mat-form-field
                  [appearance]="inputAppearance"
                  class="max-width"
                >
                  <mat-label>Query</mat-label>
                  <input
                    matInput
                    type="text"
                    id="query"
                    name="query"
                    maxlength="255"
                    ngModel
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-row search-line-2">
            <div>
              <div>
                <mat-form-field [appearance]="inputAppearance">
                  <mat-label>Department</mat-label>
                  <mat-select id="departmentID" name="departmentID" ngModel>
                    <mat-option
                      *ngFor="let department of departments"
                      [value]="department.id"
                      >{{ department.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div>
                <mat-form-field [appearance]="inputAppearance">
                  <mat-label>Course number</mat-label>
                  <input
                    matInput
                    type="number"
                    id="courseNumber"
                    name="courseNumber"
                    maxlength="3"
                    ngModel
                  />
                </mat-form-field>
              </div>
            </div>
            <div>
              <div>
                <mat-form-field [appearance]="inputAppearance">
                  <mat-label>Sort</mat-label>
                  <mat-select
                    id="sortID"
                    name="sortID"
                    [value]="defaultSortValue"
                    ngModel
                  >
                    <mat-option
                      *ngFor="let sortOption of sortOptions"
                      [value]="sortOption.id"
                      >{{ sortOption.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="submittingSearch"
          >
            Search
          </button>
          <div *ngIf="searchError" class="form-error">
            <span>{{ searchError }}</span>
          </div>
        </form>
      </div>
      <div
        *ngIf="searchResults.length > 0; else noSearchResults"
        class="search-results"
      >
        <nb-book-list [books]="searchResults"></nb-book-list>
      </div>
    </div>
  </div>
</div>

<ng-template #noRecommended>You have no book recommendations.</ng-template>

<ng-template #noSearchResults
  >No search results matched your query.</ng-template
>

<ng-template #loading>
  <div class="center">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
