<div class="password-reset">
  <mat-card class="password-reset-card">
    <mat-card-title class="text-center">Password reset</mat-card-title>
    <mat-card-content>
      <div *ngIf="done; else loading">
        <div *ngIf="requestingReset; else resettingPassword">
          <div *ngIf="!doneRequesting; else requestDone">
            <form
              #requestResetForm="ngForm"
              (ngSubmit)="onRequestReset(requestResetForm.value)"
            >
              <mat-form-field [appearance]="inputAppearance" class="max-width">
                <mat-label>Norse email address</mat-label>
                <input
                  matInput
                  type="text"
                  id="email"
                  name="email"
                  [maxLength]="emailMaxLength"
                  required
                  ngModel
                />
                <span matSuffix>@luther.edu</span>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="submittingResetRequestForm"
              >
                Request reset
              </button>
              <div *ngIf="resetRequestError" class="form-error">
                <span>{{ resetRequestError }}</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #resettingPassword>
  <div *ngIf="!doneResetting; else resetDone">
    <div *ngIf="validResetID; else invalidResetID">
      <form
        #setPasswordForm="ngForm"
        (ngSubmit)="onSetPassword(setPasswordForm.value)"
      >
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>New password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            name="password"
            [maxLength]="passwordMaxLength"
            required
            ngModel
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{
              hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field [appearance]="inputAppearance" class="max-width">
          <mat-label>Confirm new password</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            id="confirmPassword"
            name="confirmPassword"
            [maxLength]="passwordMaxLength"
            required
            ngModel
          />
          <button
            mat-icon-button
            type="button"
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
          >
            <mat-icon>{{
              hideConfirmPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="submittingSetPasswordForm"
        >
          Set password
        </button>
        <div *ngIf="setPasswordError" class="form-error">
          <span>{{ setPasswordError }}</span>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #requestDone>
  <p class="text-justified">
    Success! You have requested a password reset. We have sent you an email
    containing a link to reset your password. Simply click the link in the email
    and you will be able to set a new password. Note that the link will expire
    after one hour.
  </p>
</ng-template>

<ng-template #resetDone>
  <p class="text-justified">Success! Your password has been reset.</p>
  <a mat-raised-button color="primary" routerLink="/login">Sign in</a>
</ng-template>

<ng-template #invalidResetID>
  <p class="text-justified">
    An error occurred and we are unable to reset your password. This may have
    happened because your link expired or because you have already reset your
    password. Please request another password reset, bearing in mind you have
    one hour to reset it.
  </p>
  <a mat-raised-button color="primary" routerLink="/password-reset"
    >Request reset</a
  >
</ng-template>

<ng-template #loading>
  <div class="center">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
