@use '../../../globals';

.profile {
  .settings {
    background-image: url('/assets/img/backgrounds/profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 48px;

    .user-info {
      text-align: center;

      .user-image {
        margin: auto;
        margin-bottom: 16px;
      }

      .user-details {
        max-width: 400px;
        margin: auto;
        background-color: black;
        color: white;
        padding: 4px;
        border-radius: 4px;

        & > * {
          margin: 0;
          padding: 4px;
        }
      }
    }
  }

  .user-books {
    max-width: 1000px;
    margin: auto;
    padding: 0 32px;

    & > div {
      padding: 32px 0;
    }
  }
}
