<div *ngIf="done; else loading" class="profile">
  <div *ngIf="loggedIn; else notLoggedIn">
    <div class="settings">
      <div class="user-image">
        <nb-user-image
          [userInfo]="userInfo"
          [size]="150"
          [center]="true"
          [shadow]="true"
        ></nb-user-image>
      </div>
      <mat-card class="user-details-card">
        <mat-card-title class="text-center user-details-card-title"
          >{{ userInfo.firstname }} {{ userInfo.lastname }}</mat-card-title
        >
        <mat-card-content>
          <p class="user-email">{{ userInfo.email }}</p>
          <p>Joined {{ userInfo.joinTime | date }}</p>
          <ul class="inline-list">
            <li>Listed {{ userInfo.numBooksListed }} books</li>
            <li>Sold {{ userInfo.numBooksSold }} books</li>
            <li>Made {{ userInfo.moneyMade | currency }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <mat-card class="settings-card">
        <mat-card-title class="text-center">Change your avatar</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
      <mat-card class="settings-card">
        <mat-card-title class="text-center"
          >Change your password</mat-card-title
        >
        <mat-card-content></mat-card-content>
      </mat-card>
      <mat-card class="settings-card">
        <mat-card-title class="text-center">Sign out everywhere</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div class="user-books">
      <div>
        <h2>Your books</h2>
        <div *ngIf="userBooks.length > 0; else noUserBooks">
          <!-- <nb-book *ngFor="let book of userBooks"></nb-book> -->
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h2>Recommended for you</h2>
        <div *ngIf="recommended.length > 0; else noRecommended">
          <!-- <nb-book *ngFor="let book of recommended"></nb-book> -->
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <h2>Reported books</h2>
        <div *ngIf="reported.length > 0; else noReported">
          <!-- <nb-book *ngFor="let book of reported"></nb-book> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="padded text-center">
    Please
    <a
      routerLink="/login"
      [queryParams]="{ after: 'profile' }"
      class="standard-link"
      >sign in</a
    >
    to view your profile.
  </div>
</ng-template>

<ng-template #noUserBooks
  >You do not have any books listed currently.</ng-template
>

<ng-template #noRecommended>You have no book recommendations.</ng-template>

<ng-template #noReported>You have not reported any books.</ng-template>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
