$primary-color: #1e49e6;
$secondary-color: white;
$col-spacing: 12px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::selection {
  background-color: lighten($primary-color, 5%);
  color: $secondary-color;
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin full-center {
  @include centerer(true, true);
}

@mixin std-link {
  color: blue;
  text-decoration: none;
  transition: color 0.1s ease;

  &:hover {
    color: darken(blue, 15%);
    text-decoration: underline;
  }

  &:active {
    color: darken(blue, 25%);
  }
}

@mixin flex-grid($width, $gap) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;

  & > * {
    flex: 0 1 $width;
  }
}

@mixin line-cutoff($num-lines) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $num-lines;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

@mixin hover-zoom($zoom-amount: 1.05) {
  transition: transform 0.2s;

  &:hover {
    transform: scale($zoom-amount);
  }
}

@mixin grayscale($value: 100%) {
  -webkit-filter: #{'grayscale(#{$value})'};
  -moz-filter: #{'grayscale(#{$value})'};
  filter: #{'grayscale(#{$value})'};
}

a.standard-link {
  @include std-link;
}

.max-width {
  width: 100%;
}

.form-error {
  margin-top: 8px;
  color: red;
}

.form-error-text {
  color: red;
  margin-top: 8px;
}

.text-justified {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
}

.spinner {
  text-align: center;
  margin: 16px auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mt {
  margin-top: 16px;
}

.mb {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$col-spacing;
  margin-right: -$col-spacing;
}

.form-row-simple {
  display: flex;
  flex-wrap: wrap;
}

@mixin col($lg-columns, $md-columns, $sm-columns) {
  $num-columns: 12;
  $lg-cols: $lg-columns / $num-columns * 100%;
  $md-cols: $md-columns / $num-columns * 100%;
  $sm-cols: $sm-columns / $num-columns * 100%;

  position: relative;
  width: 100%;

  flex: 0 0 $sm-cols;
  max-width: $sm-cols;

  @media (min-width: 768px) {
    flex: 0 0 $md-cols;
    max-width: $md-cols;
  }

  @media (min-width: 992px) {
    flex: 0 0 $lg-cols;
    max-width: $lg-cols;
  }

  & > * {
    padding-left: $col-spacing;
    padding-right: $col-spacing;

    & > * {
      width: 100%;
    }
  }
}

mat-card {
  padding: 2rem;

  mat-card-title {
    margin-bottom: 2rem;
  }
}
