.user-image {
  background-color: white;
  border-radius: 9999px;
  overflow: hidden;

  image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-center {
  margin: auto;
}

.image-shadow {
  box-shadow: 5px 5px 20px rgb(70 39 39) !important;
}
