@use '../../../globals';

$footer-text-color: #9e9eab;

.footer {
  background-color: #2a2a2e;
  color: $footer-text-color;
  padding: 2.5rem;
  text-align: center;

  .footer-sections {
    max-width: 1000px;
    margin: auto;

    & > * {
      margin-bottom: 32px;
      @include globals.col(4, 4, 12);

      h2 {
        font-weight: 500;
      }

      a {
        text-align: center;
        display: block;
        color: $footer-text-color;
        font-size: 1.12em;
        margin-bottom: 4px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
