<div *ngIf="done && otherUserExists; else existsCheck" class="user-messages">
  <div class="messages-header">
    <div class="messages-menu">
      <a
        mat-icon-button
        routerLink="/message"
        matTooltip="Back to messages"
        aria-label="Back to messages"
      >
        <mat-icon>arrow_back</mat-icon>
      </a>
    </div>
    <div class="messages-user-avatar">
      <nb-avatar [userInfo]="otherUser">
        <button
          mat-icon-button
          matTooltip="Options"
          [matMenuTriggerFor]="userMessageMenu"
          aria-label="Options"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </nb-avatar>
    </div>
  </div>
  <div class="messages-body">
    <div *ngFor="let message of messages" class="message-row">
      <div
        *ngIf="message.fromUserID === otherUserID"
        class="message other-user-message"
      >
        <div
          class="message-body"
          matTooltip="{{ message.sendTime | date: 'short' }}"
        >
          {{ message.content }}
        </div>
      </div>
      <div
        *ngIf="message.fromUserID !== otherUserID"
        class="message this-user-message"
      >
        <button
          mat-icon-button
          matTooltip="Options"
          [matMenuTriggerFor]="messageMenu"
          [matMenuTriggerData]="{ messageID: message.id }"
          aria-label="Options"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <div
          class="message-body"
          matTooltip="{{ message.sendTime | date: 'short' }}"
        >
          {{ message.content }}
        </div>
      </div>
    </div>
  </div>
  <div class="new-message">
    <form #newMessageForm="ngForm" (ngSubmit)="onSendMessage()">
      <mat-form-field [appearance]="inputAppearance" class="max-width">
        <mat-label>Message</mat-label>
        <input
          matInput
          type="text"
          id="content"
          name="content"
          autocomplete="off"
          [maxLength]="messageContentMaxLength"
          [disabled]="isBlocked || hasBlocked"
          [(ngModel)]="messageContent"
        />
        <button
          mat-icon-button
          matSuffix
          type="submit"
          matTooltip="Send message"
          [disabled]="submittingSendMessage || isBlocked || hasBlocked"
          aria-label="Send message"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>

<ng-template #existsCheck>
  <ng-container *ngIf="!otherUserExists; else loading">
    <nb-not-found style="display: flex"></nb-not-found>
  </ng-container>
</ng-template>

<ng-template #loading>
  <div class="center">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>

<mat-menu #messageMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-messageID="messageID">
    <button
      mat-menu-item
      (click)="onDeleteMessage(messageID)"
      aria-label="Delete"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #userMessageMenu="matMenu" xPosition="before">
  <button
    *ngIf="!isBlocked"
    mat-menu-item
    (click)="onBlockUser()"
    aria-label="Block"
  >
    <mat-icon>block</mat-icon>
    <span>Block</span>
  </button>
  <button
    *ngIf="isBlocked"
    mat-menu-item
    (click)="onUnblockUser()"
    aria-label="Unblock"
  >
    <mat-icon>block</mat-icon>
    <span>Unblock</span>
  </button>
</mat-menu>
