.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-header {
    flex: 0 0 auto;
  }

  .app-body {
    flex: 1 0 auto;
  }

  .app-footer {
    flex: 0 0 auto;
  }
}
